<!-- <div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Login</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" name="email" >
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" >
                        </div>
                        <button type="button" class="btn btn-info" (click)="login()">Login</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/Register" style="text-decoration: none;">Need Account ? <span class="text-danger">Register</span></a>
                            </div>
                            <div class="col-md-6">
                                <a href="/forgot-password" class="text-dark" style="text-decoration: none;"> Forgot Password ? </a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <a  style="text-decoration: none;cursor: pointer;">
                                <div class="card shadow text-center">
                                    <div class="card-body">
                                        <img src="../../../assets/icons8-google-48.png" alt="" height="24px" width="24px"> Sign In with Google
                                    </div>
                                </div>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div> -->

<div class="container">
    <div class="login">
       <div class="container">
            <h1>Log in</h1>
            <input type="email" for="email" class="form-control" name="email" placeholder="Email">
            <input type="password" for="password"  class="form-control" name="password" placeholder="Password"><br>
            <input type="checkbox"><span>Remember me</span>
            <a href="#">Forgot password?</a>
            <button type="button" class="btn btn-info" (click)="login()">Login</button>
            <hr><p>Or Connect With</p><hr>
            <ul>
                <li><i class="fab fa-facebook-f fa-2x"></i></li>
                <li><i class="fab fa-twitter fa-2x"></i></li>
                <li><i class="fab fa-github fa-2x"></i></li>
                <li><i class="fab fa-linkedin-in fa-2x"></i></li>
            </ul>
            <div class="clearfix"></div>
            <span class="copyright">&copy;2019</span>  
       </div>
    </div>
    <div class="register">
        <div class="container">
            <i class="fas fa-user-plus fa-5x"></i>
            <h2>Hello,friend!</h2>
            <p>Enter your personal details and start journey with us</p>
            <button ><a href="/Register">Register <i class="fas fa-arrow-circle-right"></i></a></button>
        </div>
    </div>  
  </div>
